<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ropa-heading" jhiTranslate="soniaTestApp.ropa.home.createOrEditLabel">Create or edit a Ropa</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="soniaTestApp.ropa.marca" for="field_marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="field_marca"
                           formControlName="marca"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="soniaTestApp.ropa.talla" for="field_talla">Talla</label>
                    <input type="text" class="form-control" name="talla" id="field_talla"
                           formControlName="talla"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="soniaTestApp.ropa.tela" for="field_tela">Tela</label>
                    <input type="text" class="form-control" name="tela" id="field_tela"
                           formControlName="tela"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="soniaTestApp.ropa.color" for="field_color">Color</label>
                    <select class="form-control" name="color" formControlName="color" id="field_color">
                        <option value="ROJO">{{ 'soniaTestApp.Color.ROJO' | translate }}</option>
                        <option value="AZUL">{{ 'soniaTestApp.Color.AZUL' | translate }}</option>
                        <option value="VERDE">{{ 'soniaTestApp.Color.VERDE' | translate }}</option>
                        <option value="NEGRO">{{ 'soniaTestApp.Color.NEGRO' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
