<div>
    <h2 id="page-heading">
        <span jhiTranslate="soniaTestApp.ropa.home.title">Ropas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ropa" [routerLink]="['/ropa/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="soniaTestApp.ropa.home.createLabel">
            Create a new Ropa
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ropas?.length === 0">
        <span jhiTranslate="soniaTestApp.ropa.home.notFound">No ropas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ropas && ropas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="soniaTestApp.ropa.marca">Marca</span></th>
                    <th scope="col" ><span jhiTranslate="soniaTestApp.ropa.talla">Talla</span></th>
                    <th scope="col" ><span jhiTranslate="soniaTestApp.ropa.tela">Tela</span></th>
                    <th scope="col" ><span jhiTranslate="soniaTestApp.ropa.color">Color</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ropa of ropas ;trackBy: trackId">
                    <td><a [routerLink]="['/ropa', ropa.id, 'view']">{{ ropa.id }}</a></td>
                    <td>{{ ropa.marca }}</td>
                    <td>{{ ropa.talla }}</td>
                    <td>{{ ropa.tela }}</td>
                    <td jhiTranslate="{{ 'soniaTestApp.Color.' + ropa.color }}">{{ ropa.color }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ropa', ropa.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ropa', ropa.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ropa)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
